body {
  background-color: white;
}

/* 
  <transition>(配置页面动画) "page"可以在config中配置（全局）
  如果只对某个页面添加，要在页面中添加transition属性
*/
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
